/*Universal Selector*/
*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*declares global css variables*/
:root {
  --white: #fff;
  --black: black;
  --pink: #dea5a4;
  --border-radius: 50px;
}
/*Element Selectors*/
body{
    background-color: white;
}
header {
  display: flex;
  padding: 40px;
  justify-content: center;
  background: var(--black);
  color: var(--white);
}

nav {
  display: flex;
  background-color: var(--pink);
}

nav a {
  color: var(--black);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}

nav a:hover {
  background-color: var(--white);
  color: var(--black);
}

header img {
  height: 200px;
  width: 200px;
  margin-right: 15px;
  border-radius: 50%;
  border: solid var(--pink);
  border-width: 10px;
}

footer {
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--black);
  color: var(--white);
  margin-top: auto;
}

p {
  font-size: 24px;
}
h2{
  font-size: 32px;
}

ul .socialdeco {
  list-style-type: none;
  display: inline;
  margin: 50px;
}
/*Class selectors*/
.card {
    background-color: white;
    color: white;
    padding: 1rem;
    height: 300px;
    border: solid 4px black;
    border-radius: 10%;   
  }

  .card:hover, header img:hover {
    box-shadow: 0 0 50px red;
    border: solid 6px red;
  }

  .cards {
    max-width: 1200px;
    margin: 18px auto;
    display: grid;
    gap: 50px;
  }

  .code{
    display: flex;
    background: rgb(2,0,36);
    padding: 1rem;
    height: 230px;
    width: 90%;
    position: relative;
    margin-top: 15px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
  }

  .title-card{
    background-color: var(--pink);
    color: white;
    padding: 1rem;
    height: 15px;
    position: relative;
    margin-top: -35px;
    border: solid var(--pink);
    border-width: 10px;
    text-align: center;
    border-radius: 5%;
  }

  .title-card h2 {
    margin-top: -10PX;
  }

  .socialdeco img{
    width: 100px;
    height: 100px;
  }
  
  .centering{
    text-align: center;
  }
/*Id Selectors that are unique*/
  #bluebackground{
    background-color: black;
  }

  #myprojects{
    text-align: center;
  }
/*Media query to improve responsiveness and first child to make first project big*/
@media (min-width: 550px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
  .card:first-child {
    grid-column: span 2;
  }
  .card:nth-child(2) {
    grid-column: span 1;
  }
  .card:nth-child(3) {
    grid-column: span 1;
  }
  .card:nth-child(4) {
    grid-column: span 1;
  }
  .card:last-child {
    grid-column: span 1;
  }